# Prerequisites
*.d

#Cmake 
CMakeFiles
*CMakeFiles*
*Makefile*
Makefile
cmake_install.cmake
*cmake_install.cmake*
bin
*bin*
CMakeCache.txt
*CMakeCache.txt*


# Compiled Object files
*.slo
*.lo
*.o
*.obj
# for Java files
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
